<nav class="navbar navbar-default">
	<div class="container">
		<div class="row">
			<div class="col-xs-3 text-left">
				{{#unless isHome}}{{back-button}}{{/unless}}
			</div>
			<div class="col-xs-6 text-center">
				{{#link-to 'application'}}
					<img src="assets/images/mikomos_banner.svg" style="height:50px">
				{{/link-to}}
			</div>
			<div class="col-xs-3 text-right">
			</div>
		</div> 
	</div> 
</nav>
<div class="container">
	{{outlet}}
</div>
<span style="display:block; height:70px;"></span>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	<div class="container">
		<p class="navbar-text">&copy; 2014 Eli Samuel</p>
	</div>
</nav>