<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<img src="images/mikomos_banner.svg" class="img-responsive">
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		{{auto-complete search="search" model=model.mikomos}}
	</div>
</div>
<p></p>
<hr>
<div class="row">
	<div class="col-sm-6 text-center">
		{{#link-to 'search' classNames="thumbnail"}}
			<h1><span class="glyphicon glyphicon-search"></span> Search</h1>
			<p>Advanced search of Mikomos</p>
		{{/link-to}}
	</div>
	<div class="col-sm-6 text-center">
		{{#link-to 'browse' classNames="thumbnail"}}
			<h1><span class="glyphicon glyphicon-list"></span> Browse</h1>
			<p>Browse through the list of mikomos.</p>
		{{/link-to}}
	</div>
	<div class="col-sm-6 text-center">
		{{#link-to 'browse' classNames="thumbnail"}}
			<h1><span class="glyphicon glyphicon-refresh"></span> Sync</h1>
			<p>Last Update: {{databaseDate}}</p>
		{{/link-to}}
	</div>
	<div class="col-sm-6 text-center">
		{{#link-to 'browse' classNames="thumbnail"}}
			<h1><span class="glyphicon glyphicon-user"></span> About</h1>
			<p>About Mikomos</p>
		{{/link-to}}
	</div>
</div>